/* 
.color2 { #f3a36b };
.color4 { #554865 };

.menu { #352630 }; */

*{
  margin: 0;
  border: 0;
  padding: 0;
}

:root{
  --body-color: #FFE7E9;
  --bs-white: #FFFFFF
  /* --know-more: #e9dfcc; */
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

header .logo {
  flex: 1;
}

header .whatsapp {
  flex: 1;
}

header nav {
  flex: 1;
  width: 500;
  align-items: center;
}

.btn.btn-primary {
  background-color: #cd5b51;
  border-color: #cd5b51;
  color: white;
  padding: 10px;
}

.btn.btn-primary:hover {
  background-color: #d33729;
  border-color: #d33729;
  color: white;
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  list-style-type: none;
  padding: 0 20px;

}

body { 
  background-color: var(--body-color);
  background-image: url("/assets/images/menu/navbar-background.png");
  background-size: contain;
  background-repeat: repeat-x;

}

h1 { 
  font-family: Salsa, cursive;
  color: white;
}


@media (min-width:320px)  { 
  .logo img{
    width: 130px;
  }
}

@media (min-width:481px)  { 
  .logo img{
    width: 130px;
  }
}

@media (min-width:641px)  { 
  .logo img{
    width: 150px;
  }
}

@media (min-width: 768px) {
  .logo img{
    width: 200px;
  }
}

@media (min-width: 961px)  { 
  body{
    background-position-y: -30px;
  }
}

@media (min-width: 992px) {
  body{
    background-position-y: -25px;
  }
}

@media (min-width:1025px) { 
  body{
    background-position-y: -35px;
  }
}

@media (min-width: 1200px) {
  body{
    background-position-y: -60px;
  }
}

@media (min-width: 1440px) {
  body {
    background-position-y: -90px;
  }
}

@media (min-width: 1680px) {
  body {
    background-position-y: -6%;
  }
}

@media (min-width: 1900px) {
  body {
    background-position-y: -7%;
  }
}