*{
  margin: 0;
  border: 0;
  padding: 0;
}

:root{
  --body-color: #FFE7E9;
  /* --know-more: #e9dfcc; */
}

body { 
  background-color: var(--body-color);
}

/* 
.color2 { #f3a36b };
.color3 { #cd5b51 };
.color4 { #554865 };

.menu { #352630 }; */

/* font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Salsa', cursive; */


h1 { 
  font-family: Salsa, cursive;
  color: white;
}