<footer>
  <div class="logo">
    <img src="assets/images/menu/logo.png" alt="Marta Bolos e Salgados">
  </div>

  <div class="social-media">
    <a href="https://api.whatsapp.com/send/?phone=5517991937801" target="_blank">
      <img src="/assets/images/whatsapp.svg" alt="WhatsApp" loading="lazy">
    </a>
    <a href="https://www.instagram.com/martabolosesalgadoss/" target="_blank">
      <img src="/assets/images/instagram.svg" alt="Instagram" loading="lazy">
    </a>
  </div>

  <div class="final">
    <p class="copywrite">&copy; <span id="current-year"></span>. Marta Doces & Salgados. Todos os direitos
      reservados</p>

    <p class="developer">Made with ❤️ by <a href="https://www.linkedin.com/in/victorlupi" target="_blank">Victor
        Lupi</a> 💻</p>
  </div>
</footer>